* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.select {
    padding-top: 50px;
}

.container, .container1 {
    width: 60vw;
}

canvas {
    margin: 50px 0;
}
